<!DOCTYPE html>
<html>
<head>
<title>
	keshav chopra
</title>
<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
	<header id = "top">
	
		<h1>

		
		<li>	<%= image_tag "keshav.jpg" %></li>
			<li>
			Keshav Chopra
		</li>
		</h1>
		<ul>
		<nav>
			<li><a href="#Home">resume</a></li>
			<li><a href="#Qualifications">Qualifications</a> </li>
			<li><a href="#AboutMe">About Me</a>  </li>
			<li><a href="#Contact">Contact</a> </li>

		</nav>

</ul>
	</header>
<main>
	<section id = "Home">
		<header class ="headmain"> Home</header>
    <div class = "me">

<%= image_tag "keshav.jpg" %>
<ul>
<p>Welcome to my profile
</p>

<nav>
<ul id = "link">
<li><a href= "https://www.facebook.com/keshav.chopra.906"><%= image_tag "fb.jpg" %></a></li>
<li><a href= "https://www.instagram.com/keshavchopra.in/"><%= image_tag "insta.png" %></a></li>
<li><a href= "https://www.linkedin.com/in/keshav-chopra-1359aa145/"><%= image_tag "linken.png" %></a></li>
<li><%= image_tag "gmail.png" %></li>
</ul>

</nav>

</ul>
</div>
	


	</section>
	<section id = "Qualifications">
		<header class ="headmain">
			Qualifications
		</header>
		<div id = "quali">

			<ul>
				<li>Persuing Computer Science engineering from Maharaja Agrasen Institute of Technology (New Delhi).
				</li>
				<li>
					Graduation from Chand Ram Public School (New Delhi) with 89% overall.
				</li>
				<li>
					Matric from Jankidas Kapur Public School (Sonipat, Haryana) with 9.6 CGPA.
				</li>
				<li>
					Competitive coaching from Vidyamandir Classes and Conding Ninjas.
			</ul>
			<%= image_tag "qualifivation.jpg" %>

</div

	</section>

<section id = "AboutMe">
<header class = "headmain">
About Me
</header>
<div id = "about">
	<%= image_tag "agra.jpg" %>
	<ul>
				<li> I'm not that intelligent but hard working.
				</li>
				<li>
					Yoga and Nature enthusiast.
				</li>
				<li>
					Swimming and football is in genes.
				</li>
				<li>
					Introvert yet Extrovert.
				</li>
				<li>
					Energetic with god reflexes and senses.
				</li>
				<li>
					
					Love to explore new places.
				</li>
				<li>
					I don't have much to tell now.
				</li>
			</ul>

</div>
</section>
<section id= "Contact">


	</section>




</main>

</body>
</html>
